<article class="article large m-b-80">
  <div class="cover m-b-40">
    <a href=""><img src="http://via.placeholder.com/610x420" alt="" /></a>
    <a href="" class="readmore">Czytaj dalej</a>
  </div>
  <div class="article article-meta">
    <p class="meta m-b-30 middle-size light">
      <a href="" class="light">Kategoria</a><span class="display-inline-block m-r-20 m-l-20">/</span>10.01.2018
    </p>
    <h2 class="title m-b-0"><a href="" class="black">Tytuł wpisu</a></h2>
  </div>
</article>