<footer id="footer">
  <div class="grid-container collapse fluid">
    <div class="grid-x grid-padding-x">
      <div class="cell footer-nav text-center">
        <ul class="p-b-40 m-b-40">
          
      </div>
      <div class="cell text-center">
        <p class="p-b-40">
          &copy; {{ "now" | date("Y") }} - {{ site.name }}. All rights reserved. Proudly powered by <span class="faicon"><i class="fab fa-wordpress-simple"></i></span> WordPress
        </p>
      </div>
    </div>
  </div>
</footer>
