<header id="header">
  <div class="grid-container collapse half-fluid">
    <div class="grid-x">
      <div class="cell small-8">
        <a href="{{ site.url }}" class="logo">
          <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMinYMax meet">
            <path d="M62.4223 0H37.3146L0 100H24.9689L62.4223 0Z" fill="#000000"/>
            <path d="M28.1594 50L9.4327 0L0 25.2778L9.29398 50H28.1594Z" transform="translate(71.8406 50)" fill="#000000"/>
          </svg>
        </a>
        {#
        <a href="{{ site.url }}" class="logo text">
          Agressiva Blog
        </a>
        #}
      </div>
      <div class="cell text-right small-4">
        <div class="social-media">
          <a href="" class="share-post"><i class="fab fa-facebook-f"></i></a>
          <a href="" class="share-post"><i class="fab fa-instagram"></i></a>
          <a href="" class="share-post"><i class="fab fa-twitter"></i></a>
          <a href="" class="share-post"><i class="fab fa-dribbble"></i></a>
          <a href="" class="share-post"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <div class="hamburger-wrapper">
          <div class="hamburger">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<nav id="overlay">
  <div class="grid-container collapse half-fluid">
    <div class="grid-x grid-padding-x">
      <div class="cell small-12 height100vh">
        <ul>
         
        </ul>
      </div>
    </div>
  </div>
</nav>