{# Paginacja #}
<div class="grid-container wp-pagination m-b-80 p-t-20">
<div class="grid-x grid-padding-x">
    <div class="cell small-12 medium-6 text-center medium-text-left">
        <a href="" class="prev p-t-20"><span class="faicon"><i class="fal fa-long-arrow-left"></i></span> Poprzednia strona</a>
    </div>

    <div class="cell small-12 medium-6 text-center medium-text-right">
        <a href="" class="next p-t-20">Następna strona<span class="faicon"><i class="fal fa-long-arrow-right"></i></span></a>
    </div>
</div>
</div>